<section class="login">
  <header>
    <h1 class="titulo">Seja bem-vindo!</h1>
    <h3 class="subtitulo">Faça o login para acessar sua lista de tarefas.</h3>
  </header>

  <form>
    <div class="inputs">
      <input type="text" name="usuario" placeholder="Usuário">
      <input type="password" name="senha" placeholder="Senha">

      <button routerLink="/lista-de-tarefas" type="submit">Entrar</button>

      <a routerLink="/cadastro" class="link-cadastro">Ainda não sou cadastrado.</a>
    </div>
  </form>
</section>
