.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
  padding: 1rem;

  input{
    padding: .5rem;
    width: 21rem;
    border: none;
    box-shadow: 2px 2px 2px #00000050;
    &::placeholder {
      color: #8A8A8A;
      font-size: .60rem;
      text-align: center;
    }
  }

  button {
    background: #154580;
    border: 1px solid #154580;
    color: white;
    font-size: .7rem;
    padding: .4rem;
    border-radius: 0.2rem;
    margin-top: 0.25rem;
    width: 8.5rem;
  }
}
