<section class="cadastro-usuarios">
  <header>
    <h1 class="titulo">Olá, tudo bem?</h1>
    <h3 class="subtitulo">Vamos precisar de somente 2 coisinhas pra realizar seu cadastro.</h3>
  </header>

  <form>
    <div class="inputs">
      <input type="text" name="usuario" placeholder="Usuário">
      <input type="password" name="senha" placeholder="Senha">

      <button routerLink="/login" type="submit">Cadastrar</button>

      <p class="aviso">Após o cadastro você será redirecionado a página de login para realizar seu acesso.</p>
    </div>
  </form>
</section>
