<section class="lista-atividades">

  <app-cadastrar-tarefa></app-cadastrar-tarefa>

  <div class="container">
    <div class="lista">

      <div class="header-lista">
        <h3 class="titulo">Lista de tarefas</h3>
      </div>

      <div>
        <div class="lista__itens" *ngIf="listaTarefas.length > 0, else semTarefas">
          <div class="atividade" *ngFor="let tarefa of listaTarefas">
            <p class="item">{{ tarefa.fazer }}</p>
            <div class="acoes">
              <fa-icon class="delete-icon" [icon]="faTrash" ></fa-icon>
              <fa-icon class="edit-icon" [icon]="faPen" ></fa-icon>
            </div>
          </div>
        </div>
      </div>

      <ng-template #semTarefas>
        <br>
        <p>Oba, você não tem nenhuma tarefa pra fazer. Pode ir jogar seu videogame.</p>
      </ng-template>

    </div>
  </div>
</section>
